* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    height: 80px;
    display: flex;
    background-color: black;
    font-family: roboto;
}

div .logo img {
    border-radius: 0%;
    height: 80px;
    width: 80px;
}

div .links img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 8px;
}

.logo {
    margin-right: auto;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5e7eb;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

.introduction {
    display: flex;
    height: 350px;
    background-color: black;
    justify-content: center;
    gap: 50px;
}

.left {
    font-family: roboto;
    font-size: 40px;
    color: #f9faf8;
    font-weight: extra-bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 800px;
    gap: 16px;
}

.left p {
    font-size: 24px;
    height: 50px;
}

.left button {
    border: 1px solid white;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    background-color: brown;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    display: flex;
    font-size: 16px;
}

.right {
    display: flex;
    width: 600px;
}

.information img {
    flex-wrap: wrap;
    display: flex;
    width: 200px;
    height: 200px;
    border: 3px solid brown;
    border-radius: 10%;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-color: aliceblue;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 32px;
    flex-wrap: wrap;
}

h2 {
    font-family: roboto;
    font-size: 36px;
    font-weight: extra-bold;
    color: brown;
}

.container p {
    justify-content: center;
    color: gray;
    width: 200px;
    text-align: center;
    margin-top: 12px;
}

.quote {
    background-color: #E5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 354px;
}

 .content {
    display: flex;
    color: #1f2937;
    font-style: ;
    font-size: 36px;
    text-align: center;
}

.word {
    width: 800px; 
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.signed {
    color: brown;
    font-size: 24px;
    align-self: flex-end;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 354px;
}

.signup {
    display: flex;
    margin: 30px;
    padding: 50px;
    width: 900px;
    height: 180px;
    border: brown;
    border-radius: 5px;
    background-color: brown;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.text {
    display: flex;
    flex-direction: column;
}

.heading {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.body {
    color: #f9faf8;
    font-size: 16px;
    font-weight: 300;
}

.buttons > button {
    border: 2px solid brown;
    border-radius: 5px;
    color: brown;
    background-color: #f9faf8;
    width: 180px;
    height: 50px;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: black;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 500;
}